body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 360px;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #39363D;
    color: #d5fad9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-right: 20px solid #839fac;
    border-left: 20px solid #839fac;
    border-radius: 15px;
    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

p:hover, h3:hover, h4:hover {
    color: #f2d4e8;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
